title #{page.title}
//- Meta
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="format-detection" content="telephone=no")
meta(property="og:type" content="website")
meta(property="og:description" content=page.description)
meta(property="og:title" content=page.title)
meta(property="og:locale" content="ja_JP")
meta(property="og:url" content="/")
meta(property="og:image" content=assetsPath+"meta/ogp.png")
meta(name="description" content=page.description)
meta(name="msapplication-TileColor" content="#B9A387")
meta(name="theme-color" content="#ffffff")
//- Meta


//- GoogleFonts

//- GoogleFonts

//- CSS
link(rel="stylesheet" href=assetsPath+"css/style.css")
//- CSS



