title #{page.title}
//- Meta
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="format-detection" content="telephone=no")
meta(property="og:type" content="website")
meta(property="og:description" content=page.description)
meta(property="og:title" content=page.title)
meta(property="og:locale" content="ja_JP")
meta(property="og:url" content="/")
meta(property="og:image" content=assetsPath+"meta/ogp.png")
meta(name="description" content=page.description)
meta(name="msapplication-TileColor" content="#B9A387")
meta(name="theme-color" content="#ffffff")
//- Meta


//- GoogleFonts
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
//- GoogleFonts

//- CSS
link(rel="stylesheet" href=assetsPath+"css/style.css")
//- CSS



