extends ./_layout/_home.pug
block vars
	include ./_config/_config.pug
	- var key = 'top'
	- var page = pages[key]
	- var bodyClass = 'l-home'
block contents
	.l-home__kv
		.l-home__kvWrapper
			h1.l-home__Head
				| WEBをもっと
				br
				|	面白く自由に
			.l-home__news
				a(href="http://").l-home__newsWrapper
					p.l-home__neweDate 2023/xx/xx
					.l-home__newsInfo
						span.l-home__newsGenre お知らせ
						p.l-home__newsTitle XXXを公開しました。
	.l-home__tech
		ul.l-home__techWrapper#js-home-slick01
			li.l-home__techItem
				img(src=imgPath+"home/img_tech01.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech02.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech03.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech04.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech05.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech06.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech07.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech08.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech09.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech10.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech11.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech12.webp", alt="html")
	section.p-home__concept.c-section
		h2.c-heading.u-textAlign__center  Concept
		p.p-home__conceptIntro
			| Sheep Codeは現役フロントエンジニアが運営するコーディング、CMS開発に特化したWEB構築サービスです。
			<br>
			|「<span>WEBをもっと面白く自由に</span>」をスローガンにかかえWEBの発展に貢献いたします。
			<br>
			|	コーポレートサイトやサービスサイトをはじめあらゆるジャンルのサイトのコーディング、WordPressなどのCMSへの組み込みなど
			<br>
			|	これまでの経験をもとに、今後の運用を考慮した設計で今後長く快適に更新いただけるプロダクトをご提供いたします。
		ul.p-home__conceptItems
			li.p-home__conceptItem
				.p-home__conceptTop
					.p-home__conceptIcon
						img(src=imgPath+"home/icon/icon_device.svg", alt="デバイスのアイコン")
					h3.p-home__conceptHeading コーディングからCMS構築まで一貫して対応
				.p-home__conceptBottom
					p.p-home__conceptText コーディングからCMS構築まで一貫して対応可能です。またコーポーレートサイトからサービスサイト、ランディングページなど様々な制作に対応しております。
			li.p-home__conceptItem
				.p-home__conceptTop
					.p-home__conceptIcon
						img(src=imgPath+"home/icon/icon_counsering.svg", alt="カウンセリングのアイコン")
					h3.p-home__conceptHeading 初心者でも安心の
						br
						| 事前カウンセリング
				.p-home__conceptBottom
					p.p-home__conceptText コーディングの依頼が初めての方でも安心。ご不明な点や要望を事前にお伺いし最適なプロセスでプロジェクトを進めさせていただきます。
			li.p-home__conceptItem
				.p-home__conceptTop
					.p-home__conceptIcon
						img(src=imgPath+"home/icon/icon_support.svg", alt="サポートのアイコン")
					h3.p-home__conceptHeading
						| SEOを考えた
						br
						| 運用/更新サポート
				.p-home__conceptBottom
					p.p-home__conceptText 納品後の定期的な運用/更新のご依頼も可能です。Sheep Codeではただの運用ではなくSEOの向上施策なども合わせて提案可能です。


