extends ./_layout/_home.pug
block vars
	include ./_config/_config.pug
	- var key = 'top'
	- var page = pages[key]
	- var bodyClass = 'l-home'
block contents
	.l-home__kv
		.l-home__kvWrapper
			h1.l-home__Head
				| WEBをもっと
				br
				|	面白く自由に
			.l-home__news
				a(href="http://").l-home__newsWrapper
					p.l-home__neweDate 2023/xx/xx
					.l-home__newsInfo
						span.l-home__newsGenre お知らせ
						p.l-home__newsTitle XXXを公開しました。
	.l-home__tech
		ul.l-home__techWrapper#js-home-slick01
			li.l-home__techItem
				img(src=imgPath+"home/img_tech01.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech02.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech03.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech04.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech05.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech06.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech07.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech08.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech09.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech10.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech11.webp", alt="html")
			li.l-home__techItem
				img(src=imgPath+"home/img_tech12.webp", alt="html")
	section.c-section.js-home-section
		h2.c-heading.u-textAlign__center  Concept
		p.p-home__conceptIntro
			| Sheep Codeは現役フロントエンジニアが運営するコーディング、CMS開発に特化したWEB構築サービスです。
			<br>
			|「<span>WEBをもっと面白く自由に</span>」をスローガンにかかえWEBの発展に貢献いたします。
			<br>
			|	コーポレートサイトやサービスサイトをはじめあらゆるジャンルのサイトのコーディング、WordPressなどのCMSへの組み込みなど
			<br>
			|	これまでの経験をもとに、今後の運用を考慮した設計で今後長く快適に更新いただけるプロダクトをご提供いたします。
		ul.p-home__conceptItems
			li.p-home__conceptItem
				.p-home__conceptTop
					.p-home__conceptIcon
						img(src=imgPath+"home/icon/icon_device.svg", alt="デバイスのアイコン")
					h3.p-home__conceptHeading コーディングからCMS構築まで一貫して対応
				.p-home__conceptBottom
					p.p-home__conceptText コーディングからCMS構築まで一貫して対応可能です。またコーポーレートサイトからサービスサイト、ランディングページなど様々な制作に対応しております。
			li.p-home__conceptItem
				.p-home__conceptTop
					.p-home__conceptIcon
						img(src=imgPath+"home/icon/icon_counsering.svg", alt="カウンセリングのアイコン")
					h3.p-home__conceptHeading 初心者でも安心の
						br
						| 事前カウンセリング
				.p-home__conceptBottom
					p.p-home__conceptText コーディングの依頼が初めての方でも安心。ご不明な点や要望を事前にお伺いし最適なプロセスでプロジェクトを進めさせていただきます。
			li.p-home__conceptItem
				.p-home__conceptTop
					.p-home__conceptIcon
						img(src=imgPath+"home/icon/icon_support.svg", alt="サポートのアイコン")
					h3.p-home__conceptHeading
						| SEOを考えた
						br
						| 運用/更新サポート
				.p-home__conceptBottom
					p.p-home__conceptText 納品後の定期的な運用/更新のご依頼も可能です。Sheep Codeではただの運用ではなくSEOの向上施策なども合わせて提案可能です。
	section.p-home__works.c-section.c-backgroundGray.js-home-section
		h2.c-heading.u-textAlign__center Works
		ul.p-home__worksItems#js-home-slick02
			li.p-home__worksItem
				a(href="http://")
					img(src=imgPath+"home/img_works01.webp", alt="works画像")
			li.p-home__worksItem
				a(href="http://")
					img(src=imgPath+"home/img_works02.webp", alt="works画像")
			li.p-home__worksItem
				a(href="http://")
					img(src=imgPath+"home/img_works03.webp", alt="works画像")
		.p-home__worksBottom
			.c-button--md.c-backgroundYellow.p-home__worksButton
				a(href="http://")
					| More View
	section.c-section.c-backgroundYellow02.js-home-section
		h2.c-heading.u-textAlign__center Price
		.p-home__price
			article.p-home__priceDetail
				h3.p-home__priceHeading コーディング代行
				dl.p-home__priceItem
					dt.p-home__priceTitle トップページ
					dd.p-home__priceDetails
						span.p-home__priceDetails--price 30,000円 〜
						span.p-home__priceDetails--text デザインをもとにトップページのコーディングをおこないます。ヘッダー、フッターなどの共通パーツも含みます。
				dl.p-home__priceItem
					dt.p-home__priceTitle 下層ページ(1ページ)
					dd.p-home__priceDetails
						span.p-home__priceDetails--price 10,000円 〜
						span.p-home__priceDetails--text デザインをもとにトップページのコーディングをおこないます。ヘッダーやフッターなどの共通パーツが必要な場合、共有パーツを含めたお見積りになります。
				dl.p-home__priceItem
					dt.p-home__priceTitle 共通パーツ
					dd.p-home__priceDetails
						span.p-home__priceDetails--price 70,000円 〜
						span.p-home__priceDetails--text デザインをもとにトップページのコーディングをおこないます。ヘッダー、フッターなどの共通パーツも含みます。
				.p-home__priceAnnotation
					ul.p-home__priceAnnotationItems
						li.p-home__priceAnnotationItem 価格は税抜価格です。
						li.p-home__priceAnnotationItem スマートフォン、タブレッド対応は別途お見積りとなります。
						li.p-home__priceAnnotationItem JavaScript,JQueryを用いた実装は別途お見積りとなります。
						li.p-home__priceAnnotationItem 即納をご希望の場合、別途費用をいただきます。
			article.p-home__priceDetail
				h3.p-home__priceHeading CMS構築
				dl.p-home__priceItem
					dt.p-home__priceTitle WordPress設置初期費用
					dd.p-home__priceDetails
						span.p-home__priceDetails--price 20,000円 〜
						span.p-home__priceDetails--text ご指定のサーバーにWordpressのインストールをおこないます。また実装で必要となるプラグインの設定も含まれます。
				dl.p-home__priceItem
					dt.p-home__priceTitle WordPressテーマ開発
					dd.p-home__priceDetails
						span.p-home__priceDetails--price 70,000円 〜
						span.p-home__priceDetails--text Wordpressのテーマ開発をおこないます。ページのボリューム数に応じて御見積りとなります。
				dl.p-home__priceItem
					dt.p-home__priceTitle カスタムフィールド設置
					dd.p-home__priceDetails
						span.p-home__priceDetails--price 7,000円 〜
						span.p-home__priceDetails--text カスタムフィールドの設置をおこないます。事前に運用方法をお伺いし最適なご提案をさせていただきます。
				dl.p-home__priceItem
					dt.p-home__priceTitle メタ情報設定
					dd.p-home__priceDetails
						span.p-home__priceDetails--price 20,000円 〜
						span.p-home__priceDetails--text Meta関連の設定をおこないます。
				.p-home__priceAnnotation
					ul.p-home__priceAnnotationItems
						li.p-home__priceAnnotationItem 価格は税抜価格です。
						li.p-home__priceAnnotationItem WordPress実装のみのご依頼も可能です。コーディングデータは別途ご用意いただきます。
						li.p-home__priceAnnotationItem 実装の際に有償プラグインが必要となる場合は、別途費用がかかります。
	section.c-section.js-home-section
		h2.c-heading.u-textAlign__center Information
		.p-home__infomation
			.p-home__infomationWrapper
				article.p-home__infomationNews
					h3.c-heading--md.p-home__infomationHeading NEWS
					.p-home__infomationNewsContainer
						ul.p-home__infomationNewsItems
							li.p-home__infomationNewsItem
								a(href="http://").p-home__infomationNewsItemWrapper
									.p-home__infomationNewsTop
										span.p-home__infomationNewsDate 2023/xx/xx
										span.p-home__infomationNewsGenre お知らせ
									.p-home__infomationNewsBottom
										p.p-home__infomationNewsText テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
							li.p-home__infomationNewsItem
								a(href="http://").p-home__infomationNewsItemWrapper
									.p-home__infomationNewsTop
										span.p-home__infomationNewsDate 2023/xx/xx
										span.p-home__infomationNewsGenre お知らせ
									.p-home__infomationNewsBottom
										p.p-home__infomationNewsText テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
							li.p-home__infomationNewsItem
								a(href="http://").p-home__infomationNewsItemWrapper
									.p-home__infomationNewsTop
										span.p-home__infomationNewsDate 2023/xx/xx
										span.p-home__infomationNewsGenre お知らせ
									.p-home__infomationNewsBottom
										p.p-home__infomationNewsText テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
							li.p-home__infomationNewsItem
								a(href="http://").p-home__infomationNewsItemWrapper
									.p-home__infomationNewsTop
										span.p-home__infomationNewsDate 2023/xx/xx
										span.p-home__infomationNewsGenre お知らせ
									.p-home__infomationNewsBottom
										p.p-home__infomationNewsText テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
							li.p-home__infomationNewsItem
								a(href="http://").p-home__infomationNewsItemWrapper
									.p-home__infomationNewsTop
										span.p-home__infomationNewsDate 2023/xx/xx
										span.p-home__infomationNewsGenre お知らせ
									.p-home__infomationNewsBottom
										p.p-home__infomationNewsText テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
				article.p-home__infomationSns
					h3.c-heading--md.p-home__infomationHeading Twitter
					.p-home__infomationSnsContainer
						a.twitter-timeline(href='https://twitter.com/sheepcoding777?ref_src=twsrc%5Etfw') Tweets by sheepcoding777
						script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
	section.c-section.js-home-section
		h2.c-heading.u-textAlign__center Contact
		.p-home__contact
			.p-home__contactWrapper
				h3.c-heading--sm.p-home__contactHeading お客様情報
				form.p-home__contactMain(action="")
					dl.p-home__contactItems
						.p-home__contactItem
							dt.p-home__contactHead
								span.p-home__contactHeadCompany 会社名
								span.p-home__contactHeadGenre.--optional 任意
							dd.p-home__contactValue
								input(type="text", name="")
						.p-home__contactItem
							dt.p-home__contactHead
								span.p-home__contactHeadCompany お名前
								span.p-home__contactHeadGenre.c-backgroundYellow 必須
							dd.p-home__contactValue
								input(type="text", name="")
						.p-home__contactItem
							dt.p-home__contactHead
								span.p-home__contactHeadCompany おなまえ
								span.p-home__contactHeadGenre.c-backgroundYellow 必須
							dd.p-home__contactValue
								input(type="text", name="")
						.p-home__contactItem
							dt.p-home__contactHead
								span.p-home__contactHeadCompany 電話番号
								span.p-home__contactHeadGenre.c-backgroundYellow 必須
							dd.p-home__contactValue
								input(type="text", name="")
						.p-home__contactItem
							dt.p-home__contactHead
								span.p-home__contactHeadCompany メールアドレス
								span.p-home__contactHeadGenre.c-backgroundYellow 必須
							dd.p-home__contactValue
								input(type="text", name="")
						.p-home__contactItem
							dt.p-home__contactHead
								span.p-home__contactHeadCompany お問い合わせ内容
								span.p-home__contactHeadGenre.c-backgroundYellow 必須
							dd.p-home__contactValue
								textarea(name="", cols="30", rows="10")
					.c-button--sm.c-backgroundYellow.p-home__contactButton
						a(href="http://")
							| 送信する


